name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: macos-latest
    

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Build amd64
        env:
          GOOS: darwin
          GOARCH: amd64
        run: |
          go build -o 55h .
          tar -czf 55h_${{ github.ref_name }}_darwin_amd64.tar.gz 55h

      - name: Build arm64
        env:
          GOOS: darwin
          GOARCH: arm64
        run: |
          go build -o 55h .
          tar -czf 55h_${{ github.ref_name }}_darwin_arm64.tar.gz 55h

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.4.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            55h_${{ github.ref_name }}_darwin_amd64.tar.gz
            55h_${{ github.ref_name }}_darwin_arm64.tar.gz
